<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pictures</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cor
        rupti quos expedita assumenda atque neque recusandae maxime fugiat vi
        tae, at saepe voluptatibus magnam ratione tenetur ullam aliquam cumqu
        e molestias soluta.
    </p>
    <h1>anime</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cor
        rupti quos expedita assumenda atque neque recusandae maxime fugiat vi
        tae, at saepe voluptatibus magnam ratione tenetur ullam aliquam cumqu
        e molestias soluta.
    </p>
    <h1>action</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cor
        rupti quos expedita assumenda atque neque recusandae maxime fugiat vi
        tae, at saepe voluptatibus magnam ratione tenetur ullam aliquam cumqu
        e molestias soluta.
    </p>
</body>
</html>