<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testing out my knowledge on django</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam reprehenderit amet ex
        ercitationem labore deserunt, libero suscipit iusto sit ut blanditiis nihil quaerat corr
        upti voluptatibus! Quibusdam blanditiis fugit numquam consectetur natus reprehenderit ra
        tione quas quos nisi ipsa vitae, sequi sapiente nihil dicta, obcaecati optio hic! Nemo na
        m, reprehenderit consequuntur ipsum rem laboriosam! Ipsum voluptas quo repellat aperiam d
        istinctio commodi quam possimus sunt dolores id temporibus, explicabo ab sapiente itaqu
        e eligendi provident nemo tenetur debitis? Ipsam veritatis fugit ducimus mollitia. Fuga, repe
        llat quo necessitatibus tenetur qui accusamus, tempora maiores suscipit aliquid porro mole
        stiae fugiat veniam assumenda praesentium corporis earum consequatur est numquam illo quia duci
        mus nihil? Quae officia obcaecati unde. Rem et aliquam necessitatibus? Necessit
        atibus debitis fugit possimus minima, natus ad, animi perspiciatis nam obcaecati laborum si
        milique nihil at voluptatum doloremque aperiam quam nobis praesentium illum, expedita laborio
        sam reiciendis aut. Dolorem officiis sapiente a non dignissimos eveniet nesciunt distinctio rei
        ciendis, recusandae ipsam, rerum praesentium repudiandae hic aliquam, architecto eaque tenet
        ur facere commodi fugit dicta! Modi quaerat doloribus eaque ex reiciendis, quia fugit quod ip
        sam non, nesciunt culpa maxime magni voluptatum deserunt maiores minima praesentium illum nec
        essitatibus consequuntur, perspiciatis laboriosam repudiandae exercitationem dolore iure! Nec
    </p>
</body>
</html>